{% extends "base.html" %}
{% block contenido %}

<h2 class="text-center mb-4">Sobre mí</h2>

<p class="lead text-center">
    Soy Diego, estudiante de 2º de ASIX.  
    Aquí tienes algunas de las webapps que he desarrollado en clase:
</p>

<ul class="list-group col-md-6 mx-auto mt-4">
    <li class="list-group-item">Proyecto Flask básico</li>
    <li class="list-group-item">CRUD con MySQL</li>
    <li class="list-group-item">API REST con Python</li>
    <li class="list-group-item">Aplicación de login con sesiones</li>
</ul>

{% endblock %}
